*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__container{
    max-width: 1920px;
    margin: 0 auto;
    background:linear-gradient(rgb(97, 97, 234), rgb(102, 13, 236) );
    border-radius: 52px;
    height: 120px;
    display: flex;
    justify-content:space-between;
    align-items: center;

}
.container{
    max-width: 1920px;
    margin: 0 auto;
}
footer{
    min-width: 19100px;
    background: linear-gradient(blue ,purple);
}

.header__logo{
    display: flex;
    padding: 10;
    margin-left: 40px;
}
.menu__items{
    display: flex;
}    
.menu__item{
    letter-spacing: none;
    list-style: none;
    margin-right: 40px;
}
.menu__link{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 16px;
}

.header__line{
    border-bottom: 2px solid rgb(255, 255, 255);
    margin-right: 50px;
    margin-left: 50px;
    top: -28px;
    position:relative;
}
.two__circles{
    display: flex;
}
.first__circle{
    width: 50px;
    height: 50px;
    background-color: #18047b;
    border-radius: 50%;
}

.second__circle{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
}
 
.about-me__section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 2px solid blue;
    padding: 30px;
    margin-top: 50px;
    min-width: 260px;
    border-radius: 10px;
    text-align: center;
}
.about-me__title{
    font-weight: 600;
    font-size: 44;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.my-skills__section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container-skills{
    display: flex;
    margin-top: 50px;
}
.my-skill__border{
    padding: 10px 20px;
    margin-right: 20px;
    border: 1px solid blue;
    border-radius: 5px;
}
.btn{
    border-radius: 50%;
    padding: 40px;
    border: 1px solid blue;
}

.section__contact{
    max-width: 1200px;
    min-width: 1000;
    margin: 0 auto;
    border-color: rgb(33, 33, 96);
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
}
.top-cont{
    display: flex;
    flex-direction: column;
    min-height: 600px;
    align-items: center;
    justify-content: space-around;
}
.contacts__imput{
    height: 60px;
    width: 200px;
    border: black;
    border-radius: 10px;
}
.message__imput{
    height: 300px;
}
.contacts__imput::placeholder{
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}
.message__imput::placeholder{
    transform: translatey(-760%);
}

.round__btn{
    width: 450px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 50%;
    background-color: purple;
}
.triangle{
    border: red;
    border-right: transparent;
    border-bottom: transparent;
    border-left: 100px solid red;
    border-top: 100px solid red;
    z-index: 1000;
}
.animation{
    animation-name: route;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
@keyframes route {
    0%{
        transform: translate(10%);
        transform: scale(1.0);
        transform: rotateZ(360deg);
        border-color: #d40d0d;
    }
    40%{
        transform: translate(-10%);
        transform: scale(1.1);
        transform: rotateZ(-360deg);
        border-color: #015d97;
    }
    70%{
        transform: translate(10%);
        transform: scale(1.0);
        transform: rotateZ(360deg);
        background-color: #2cbd58;
    }
}